<p id="notice"><%= notice %></p>

<p>
  <b>Sku:</b>
  <%= @reserva.sku %>
</p>

<p>
  <b>Qty:</b>
  <%= @reserva.qty %>
</p>


<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
