<h1>Log de Eventos</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Timestamp</th>
    <th>Qty</th>
    <th>Unidad</th>
    <th>Rut</th>
    <th>Orderid</th>
    <th>Sku</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.type %></td>
    <td><%= event.created_at %></td>
    <td><%= event.qty %></td>
    <td><%= event.unit %></td>
    <td><%= event.rut %></td>
    <td><%= event.orderId, order_path(Order.find(event.orderId)) %></td>
    <td><%= event.sku %></td>
    <td><%#= link_to 'Show', event %></td>
    <td><%#= link_to 'Edit', edit_event_path(event) %></td>
    <td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Registro', new_event_path %>

<%= form_tag("/event/filter", :method => "get") do %>
  <div class="field">
  <%= label_tag(:from, "From:") %>
  <%= select_datetime(nil, :prefix => 'from') %>
  </div>
  <div class="field">
  <%= label_tag(:to, "To:") %>
  <%= select_datetime(Time.now, :prefix => 'to') %>
  </div>
  <div class="field">
  <%= label_tag(:type, "Type:") %>
  <%= text_field_tag(:type) %>
  </div>
  <%= submit_tag("Filter") %>
<% end %>

