<h1>Log de Eventos</h1>

<table class="table table-striped">
  <tr>
  <thead>
    <th>Tipo</th>
    <th>Timestamp</th>
    <th>Cantidad</th>
    <th>Unidad</th>
    <th>Rut</th>
    <th>OrderID</th>
    <th>Sku</th>
  </thead>

  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.type %></td>
    <td><%= event.created_at %></td>
    <td><%= event.qty %></td>
    <td><%= event.unit %></td>
    <td><%= event.rut %></td>
    <td><%= link_to event.orderId , order_path(event.orderId)%></td>
    <td><%= event.sku %></td>
  </tr>
<% end %>
</table>

<p>* Se muestran los últimos 10 eventos</p>
<br><h4>Seleccione un rango de tiempo y tipo de evento</h4>
<%= form_tag("/event/filter", :method => "get") do %>
  <div class="field">
  <%= label_tag(:from, "Desde:") %>
  <%= select_datetime(nil, :prefix => 'from') %>
  </div>
  <div class="field">
  <%= label_tag(:to, "Hasta:") %>
  <%= select_datetime(Time.now, :prefix => 'to') %>
  </div>
  <div class="field">
  <%= label_tag(:type, "Tipo:") %>
  <%= select_tag(:type, options_for_select(@tipos) ) %>
  </div>
  <%= submit_tag("Filtrar") %>
<% end %>

