<h1>Almacenes</h1>

<table>
  <tr>
    <th>Capacidad</th>
    <th>Tipo</th>
    <th>Bodega Id</th>
    <th>Lon</th>
    <th>AlmacenId</th>
    <th>Lat</th>
  </tr>

  <% @bodegas.each do |bodega| %>
  <tr>
    <td><%= bodega["capacidad"] %></td>
    <td><%= bodega["tipo"] %></td>
    <td><%= bodega["bodegaId"] %></td>
    <td><%= bodega["lon"] %></td>
    <td><%= bodega["almacenId"] %></td>
    <td><%= bodega["lat"] %></td>
</tr>
<% end %>
</table>

<br />