<%= form_for @dispatch, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :direction, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direction, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gmaps, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :gmaps, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :final, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :final, :class => 'date_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                dispatches_path, :class => 'btn' %>
  </div>
<% end %>
