<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :arrivalDate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :arrivalDate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :arrivalTime, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :arrivalTime, :class => 'time_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rut, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rut, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :addressId, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :addressId, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :orderDate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :orderDate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sku, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :sku, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :qty, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :qty, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cost, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
