<p id="notice"><%= notice %></p>

<p>
  <b>Sku:</b>
  <%= @producto.sku %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @producto.descripcion %>
</p>

<p>
  <b>Precio:</b>
  <%= @producto.precio %>
</p>

<p>
  <b>Desde:</b>
  <%= @producto.desde %>
</p>

<p>
  <b>Hasta:</b>
  <%= @producto.hasta %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
