<h1>Stock sku:<%= params[:sku] %></h1>
<%= @almacenes[0].inspect%>
<%= @almacenes[1].inspect%>
<table>
	<tr>
		<th>AlmacenID</th>
		<th>Cantidad</th>
	</tr>
<% @almacenes.each do |almacen| %>
		<tr>
			<td><%=almacen["almacenId"] %></td>
			<td><%= almacen["libre"] %></td>
	</tr>
<% end %>
</table>

<br />